// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
    color: orange;            //Set the colour of the heading for each page.
    text-align: center;         //Puts the heading in the middle of the page.
    font-family: sans-serif;    //Sets the font of the heading for each page.
}

.form{
    text-align: center;   //Puts the form in the middle of the page.
}

.home-image{
    max-width: 15%;     //Set the size of the bee next the the heading.
}